
.contactenos{
    justify-content: end;
     width: 250px;
     margin: $margin;
     display: flex;
     color: #f0f8ff;
     font-size: 50;
     flex-wrap: wrap;
     flex-direction: column;
     
 }
.mapa{
    height: 80%;
    width: 100%;
}

.nuestras-redes{
    margin-top: 40px;
}
footer{
    padding: $padding;
    margin: $margin;
    background-image: url(../imagenes/imagen4.PNG);
   
    color: #e6dde5da;
   

}


// Maps 

$redes: (
    twitter: #339fe2,
    facebook: #1c1cf4,
    instagam: #5d1d85,
    whatsapp: #07aa20,
);

@each $red, $color in $redes{
    .red-#{$red}{
        background-color: $color;
    }
}


// extend

.icono-redes{
    width: 50px;
    height: 50px;
    padding: 10px;
}

.red-twitter{
    @extend .icono-redes;
    
}
.red-facebook{
    @extend .icono-redes;
    
}
.red-instagram{
    @extend .icono-redes;
    
}
.red-whatsapp{
    @extend .icono-redes;
    
}



@media screen and (min-width: 768px){
    .footer {
        justify-content: space-evenly;
        flex-wrap: nowrap;
    }
    .mapa{
        height: 350px;
        width: 400px;
    }
    .icono{
        display: flex;
        flex-direction: column;
        
        justify-content: space-evenly;

    }
    .nuestras-redes{
        margin-top: 0px;
    }
}
@media screen and (min-width: 1024px){
    .footer {
        justify-content: space-evenly;
        flex-wrap: nowrap;
    }
    .mapa{
        height: 350px;
        width: 500px;
    }
    .botonTrabaja{
        transition: all .3s;
    }
    .botonTrabaja:hover{
       
        transform: scale(1.5, 1.1);
        font-size: 20px;
        
        height: 5px;
        width: 15px;
    } 
}


